@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400 500 700;
    font-stretch: 100%;
    font-display: swap;
    src: url('assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf') format('truetype');
}


:root {

     /* given colors */

    --neutral_900: hsl(227, 75%, 14%);
    --neutral_800: hsl(226, 25%, 17%); 
    --neutral_700: hsl(225, 23%, 24%);
    --neutral_600: hsl(226, 11%, 37%);
    --neutral_300: hsl(0, 0%, 78%);
    --neutral_200: hsl(217, 61%, 90%);
    --neutral_100: hsl(0, 0%, 93%);
    --Neutral_0: hsl(200, 60%, 99%);
    --red_400: hsl(3, 86%, 64%);
    --red_500: hsl(3, 71%, 56%);
    --red_700: hsl(3, 77%, 44%);

    --light_gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

    /* light theme colors */

    --heading-font-color: var(--neutral_900);
    --font-color: var(--neutral_600);
    --button-border-color: var(--neutral_300);
    --background-color-icon: var(--neutral_100);
    --background-color: var(--Neutral_0);
    --filter-button-color: var(--neutral_600);
    --checkbox-point-color: var(--neutral_900);
    --body-background: var(--light_gradient);
    --border-radius: 20px;

}

html:has(#theme-toggle:checked) {
    --body-background: var(--dark-gradient);
    --heading-font-color: var(--neutral_100);
    --font-color: var(--neutral_200);
    --button-border-color:var(--neutral_300);
    --background-color: var(--neutral_700);
    --background-color-icon: var(--neutral_700);
    --border-radius: 20px;
    --filter-button-color: var(--neutral_200);
    --checkbox-point-color: var(--neutral_100);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Noto Sans', sans-serif;
    background: var(--body-background);
    color: var(--font-color);
    font-size: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em 0;
}


header {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    margin-top: 1em;
    padding: 0.5em;
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.logo-container {
    display: grid;
    align-items: center;

}

#theme-toggle {
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    appearance: none;
    background-color: var(--background-color-icon);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: max(0px, var(--border-radius) - 4px)
}

#theme-toggle::before {
    content: "";
    display: block;
    background-image: url('./assets/images/icon-moon.svg');
    width: 30px;
    height: 30px;
    background-size: cover;
    background-color: var(--background-color-icon);

}


#theme-toggle:checked::before {
    content: "";
    display: block;
    background-image: url('./assets/images/icon-sun.svg');
    width: 30px;
    height: 30px;
    background-size: cover;


}



.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h1 {
    font-weight: 700;
    color: var(--heading-font-color);
    text-align: center;
}

h2 {
    font-weight: 500;
    color: var(--heading-font-color);
    font-size: 1.2rem;
    margin-bottom: 0.2em;
    font-weight: 700;
}

.filter-options {
    text-align: center;
}

.filter-options button {
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 0.5em;
    border-radius: 20px;
    border: 1px solid var(--neutreal_100);
    background-color: var(--background-color);
    color: var(--filter-button-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}


.filter-options button.active {
    background-color: var(--red_700);
    border: 1px solid var(--red_800);
    color: white;
}

.extensions {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    padding-top: 1em;
}

.extension {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.content-extension {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: self-start;
    margin-bottom: 1em;
}

.extension-icon {
    width: 50px;
    height: auto;
    border-radius: var(--border-radius);
    padding-top: 5px;
}


.remove-button {
    background-color: var(--background-color);
    color: var(--font-color);
    border-radius: var(--border-radius);
    padding: 0.5em 1em;
    font-size: 1rem;
    font-weight: 500;
    color: var(--heading-font-color);
    cursor: pointer;
    max-width: fit-content;
    border: 1px solid var(--button-border-color);
}

.status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input:where([type="checkbox"][role="switch"]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    font-size: inherit;
    width: 2em;
    height: 1em;
    box-sizing: content-box;
    border: 1px solid var(--button-border-color);
    border-radius: 1em;
    vertical-align: text-bottom;
    background: var(--background-color);

}

input:where([type="checkbox"][role="switch"])::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    box-sizing: border-box;
    width: 0.7em;
    height: 0.7em;
    margin: 0 0.15em;
    border: 1px solid var(--neutral200);
    border-radius: 50%;
    background: var(--checkbox-point-color);
}

input:where([type="checkbox"][role="switch"]):checked::before {
    left: 1em;
}

input:where([type="checkbox"][role="switch"]):checked {
    background-color: #f75956;
    border-color: #f75956;
}