@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400 500 700;
  font-stretch: 100%;
  font-display: swap;
  src: url('assets/fonts/NotoSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
}


:root {
    --font-color: hsl(227, 75%, 14%);
    --neutral800: hsl(226, 25%, 17%);
    --neutral700: hsl(225, 23%, 24%); 
    --neutral600: hsl(226, 11%, 37%);
    --neutral300: hsl(0, 0%, 78%);
    --neutral200: hsl(217, 61%, 90%);
    --neutral100: hsl(0, 0%, 93%);
    --background-color: hsl(200, 60%, 99%);

    --red400: hsl(3, 86%, 64%);
    --red500: hsl(3, 71%, 56%);
    --red700: hsl(3, 77%, 44%);

    --body-background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background: var(--body-background);
    color: var(--font-color);
    font-size: 16px;
    margin: 0 auto; 
    
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em 0;
}

header {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    margin-top:1em;
    padding: 1em;
    border-radius: 8px; 
}

button {
    border: none;
    height: 50px;
    width: 50px;
}

.toggle-icon {
   height: 30px;
}